.ability-score {
  border: solid 4px black;
  height: 100px;
  margin-right: 10px;
  min-height: 100px;
  min-width: 100px;
  position: relative;
  text-align: center;
  width: 100px;
}

.ability-score-label {
  bottom: 0;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
}

.ability-score-label p {
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.ability-score-mod {
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.ability-score-score {
  font-size: 36px;
  margin: 0;
}