.editor-header {
  align-items: center;
  background-color: #111111;
  color: #FFFFFF;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.editor-header-button {
  background-color: #222222;
  border: none;
  border-right: solid #333333 1px;
  color: #FFFFFF;
  cursor: pointer;
  height: 40px;
  padding: 0 1rem;
}

.editor-header-button:disabled {
  background-color: #333333;
  color: #777777;
  cursor: default;
}

.editor-header-button:hover {
  background-color: #333333;
}

.editor-header-saved-text {
  margin-left: 40px;
}

.editor-header-validity {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  margin-right: 1rem;
}

.editor-header-validity svg {
  margin-right: 0.25rem;
}

.editor-header-validity-invalid {
  color: rgb(227, 64, 64);
}

.editor-header-validity-valid {
  color: rgb(148, 174, 216);
}

.editor-terminal {
  background-color: #222222;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: monospace;
  height: 100px;
  max-height: 100px;
  overflow: scroll;
  padding: 1rem;
}

.editor-terminal li {
  margin-bottom: 0.25rem;
}
